@import '../node_modules/primeflex/primeflex.css';
@import '../node_modules/primeflex/themes/primeone-light.css';
@import '../node_modules/primeicons/primeicons.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* styles.css */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2c3e50;
  font-weight: 600;
}

.btn-primary {
  background-color: #2c3e50;
  color: #fff;
  border-color: #2c3e50;
}

.btn-primary:hover {
  background-color: #1a2533;
  border-color: #1a2533;
}

.table {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.table th,
.table td {
  border-color: #e6e6e6;
}
